@using Portal.Resources
@model Portal.Areas.Admin.Models.UsersDetailsModel

<div class="bs-readonly">
    @*@if(Model.Tags.SelectedValues.FirstOrDefault())
        <dl>
            <dt>@Resource.Tags: </dt>
            <dd>@Model.Tags</dd>
        </dl>*@

    <dl>
        <dt>Nume: </dt>
        <dd>@Model.Username</dd>
    </dl>

  

</div>

